$desktop: 840px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

body {
    color: #9f9;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
    
nav {
    position: fixed;
    top: 0;
    background-color: #222;
    color: #cfc;
    i {
        color: #9f9;
    }

    a {
        color: #9f9;
    }
    a:hover {
        color: #cfc;
    }
}


#content {

    // Top banner with text animation
    #banner {
        background-image: url("weight.jpg");
        height: 60vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        @include desktop {
            min-height: 500px;
        }
        #banner-text {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #5f5; 
            p {
                visibility: hidden;
                font-size: 2.5rem;
                @include desktop {
                    font-size: 5rem;
                }
            }
        }
    }

    #mission {
        background-color: #444;
        text-align: center;

        @include desktop {
            .header {
                font-size: 5em;
                padding: 50px 0 20px 0;
                margin: 0;
            }
            .body {
                width: 80vw;
                margin: 0 10vw;
                padding: 0 0 50px 0;

            }
        }
        
    }

    // row with mission/service text and image
    #services {
        display: grid;
        .image-container {
            background-image: url("gym.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        @include mobile {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
            .text {
                background-color: #0E3A21;
                color: #ccc;
                text-align: center;
                .header {
                    font-size: 2em;
                }
            }
            .image-container {
                grid-row-start: 2;
            }
        }

        @include desktop {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: 1fr;
            min-height: 50vh;

            .text {
                background-color: #0E3A21;
                color: #ccc;
                padding: 5% 10%;

                .header {
                    position: absolute;
                    left: 38%;
                    background-color: rgba(0, 0, 0, .5);
                    border-radius: 10px;
                    padding: 0 10px;
                    font-size: 5em;
                }
            }

            .image-container {
                grid-column-start: 2;
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }
    }
    
    // image and training text
    #training-services {
        display: grid;

        .image-container {
            background-image: url("gym.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        @include mobile {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            .image-container {
                grid-row-start: 1;
            }
            .training-text {
                grid-row-start: 2;
                color: #5f5;
                background-color: #444;
            }
        }

        @include desktop {
            grid-template-columns: 60% 40%;
            grid-template-rows: 1fr;
            min-height: 50vh;
            .image-container {
                grid-column-start: 1;
                grid-row-start: 1;
            }
            .training-text {
                color: #0E3A21;
                grid-column-start: 2;
                background-color: #ccc;
                display: flex;
                justify-content: center;
                padding: 5% 10%;
                .header {
                    position: absolute;
                    right: 38%;
                    font-size: 5em;
                    padding: 0 10px;
                    background-color: rgba(255, 255, 255, .5);
                    border-radius: 10px;
                }
            }
        }
    }  
    #testimonial-container {
        display: flex;

        .image-container {
            background-image: url("gym.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        @include mobile {

        }

        @include desktop {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: #444;
            .image-container {
                height: 300px;
                min-width: 300px;
                border-radius: 50%;
                margin: 100px 30px 100px 10vw;
            }
            .testimonial-text {
                margin-right: 10vw;
                .quote {
                    font-size: 2em;
                }
                .name {
                    float: right;
                    font-size: 1.5em;
                }
            }
        }
    }    
}
