$desktop: 840px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

body {
    color: #9f9;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
    
nav {
    position: fixed;
    top: 0;
    background-color: #222;
    color: #cfc;
    i {
        color: #9f9;
    }

    a {
        color: #9f9;
    }
    a:hover {
        color: #cfc;
    }
}


#content {
    #banner {
        background-image: url("weight.jpg");
        height: 60vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        @include desktop {
            min-height: 500px;
        }
        #banner-text {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #5f5; 
            p {
                visibility: hidden;
                font-size: 2.5rem;
                @include desktop {
                    font-size: 5rem;
                }
            }
        }
    }

    #mission-services {
        display: grid;
        
        .image-container {
            background-image: url("gym.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        @include mobile {
            grid-template-rows: 1fr 1.5fr 1fr;
            grid-template-columns: 1fr;
            .text {
                background-color: #0E3A21;
                color: #ccc;
                text-align: center;
                .header {
                    font-size: 2em;
                }
            }
            .image-container {
                grid-row-start: 2;
            }
        }

        @include desktop {
            display: grid;
            grid-template-columns: 40% 60%;

            .text-container {
                display: grid;
                grid-template-rows: 50% 50%;
                div {
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    justify-content: center;
                    background-color: #444;
                    .header {
                        font-size: 3em;
                    }
                    .body {
                        font-size: 1.2em;
                        width: 80%;
                        margin: auto;
                    }
                }
            }
            .image-container {
                background-image: url("stars.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }        
}
