body {
  color: #9f9;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  background-color: #222;
  color: #cfc;
}

nav i {
  color: #9f9;
}

nav a {
  color: #9f9;
}

nav a:hover {
  color: #cfc;
}

#content #banner {
  background-image: url("weight.jpg");
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 840px) {
  #content #banner {
    min-height: 500px;
  }
}

#content #banner #banner-text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #5f5;
}

#content #banner #banner-text p {
  visibility: hidden;
  font-size: 2.5rem;
}

@media (min-width: 840px) {
  #content #banner #banner-text p {
    font-size: 5rem;
  }
}

#content #mission-services {
  display: -ms-grid;
  display: grid;
}

#content #mission-services .image-container {
  background-image: url("gym.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 840px) {
  #content #mission-services {
    -ms-grid-rows: 1fr 1fr auto;
        grid-template-rows: 1fr 1fr auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #content #mission-services .text {
    background-color: #0E3A21;
    color: #ccc;
    text-align: center;
  }
  #content #mission-services .text .header {
    font-size: 2em;
  }
  #content #mission-services .image-container {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
}

@media (min-width: 840px) {
  #content #mission-services {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    min-height: 50vh;
  }
  #content #mission-services .text {
    background-color: #0E3A21;
    color: #ccc;
    padding: 5%;
  }
  #content #mission-services .text .header {
    font-size: 5em;
  }
  #content #mission-services .image-container {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
}

#content #training-services {
  display: -ms-grid;
  display: grid;
}

#content #training-services .image-container {
  background-image: url("gym.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 840px) {
  #content #training-services {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  #content #training-services .image-container {
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  #content #training-services .training-text {
    -ms-grid-row: 2;
        grid-row-start: 2;
    color: #5f5;
    background-color: #444;
  }
}

@media (min-width: 840px) {
  #content #training-services {
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    min-height: 50vh;
  }
  #content #training-services .image-container {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  #content #training-services .training-text {
    color: #0E3A21;
    -ms-grid-column: 2;
        grid-column-start: 2;
    background-color: #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5% 10%;
  }
  #content #training-services .training-text .header {
    position: absolute;
    right: 38%;
    font-size: 5em;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
  }
}

#content #testimonial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#content #testimonial-container .image-container {
  background-image: url("gym.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 840px) {
  #content #testimonial-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #444;
  }
  #content #testimonial-container .image-container {
    height: 300px;
    min-width: 300px;
    border-radius: 50%;
    margin: 100px 30px 100px 10vw;
  }
  #content #testimonial-container .testimonial-text {
    margin-right: 10vw;
  }
  #content #testimonial-container .testimonial-text .quote {
    font-size: 2em;
  }
  #content #testimonial-container .testimonial-text .name {
    float: right;
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=index.css.map */